* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  min-width: 100vh;
  overflow-x: none;
  background-color: #232323;
}


/* Socials slidebar */
.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0rem;
  width: 2.7rem;
  height: 17rem;
  position: fixed;
  left:0;
  border: 4px solid #4B0082;
  border-radius: 0px 10px 10px 0px;
  border-left: 0px ;
  margin-top: 11rem;
  transition: all 0.5s linear;
  background-color: transparent
}

.socials:hover {
  width: 5rem;
  height: 24rem;
  background-color: transparent;
}

.socials img {
  width: 1.1rem;
  height: 1.1rem;
  transition: all 0.5s linear;
}

.socials:hover img{
  transition: all 0.5s linear;
  width: 2rem;
  height: 2rem;
}

/* Card */
.card {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  background-color: #232323;
  color: white;
  height: 22rem;
  position: relative;
  border-radius: 10px;
}

.card--info {
  color: white;
  background-color: #4B0082;
}

.card--info.l {
  border-radius: 0px 7px 7px 0px;
}

.card--info.r {
  border-radius: 7px 0px 0px 7px;
}


.card--info h3 {
  color: white;
}

.card img{
  width: 34.5rem;
  height: 21.8rem;
  opacity: 60%;
  background-color: #4B0082;
}


/* Card Image */
.img-l {
  border-radius: 7px 0px 0px 7px;
}

.img-r {
  border-radius: 0px 7px 7px 0px;
}

.img {
  background-color: #4B0082;
}

.img.r {
  border-radius: 7px 0px 0px 7px;
}

.img.l {
  border-radius: 0px 7px 7px 0px;

}


/* Card Button */
.read-more-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
 width: 7rem;
 height: 2rem;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  font-style: none;
  transition: all 0.3s linear;
}

.read-more-button:hover{
  text-decoration: none;
  color: white;
  filter: brightness(110);
  transform: scale(1.1);
  transition: all 0.3s linear;

}

.btn-more {
  width: 10rem;
}

/* Lines */
.line {
  background-color: #4B0082;
  margin-top: 11rem;
  margin-left: 17rem;
  bottom: -20;
  height: 6rem;
  width: 0.4rem;
  position: absolute;
  animation: line-animation 9s normal infinite;
}

.line2 {
  background-color: #4B0082;
  margin-top: 11rem;
  margin-left: 36rem;
  bottom: -20;
  height: 6rem;
  width: 0.4rem;
  position: absolute;
  animation: line2-animation 9s normal infinite;
  animation-delay: 2s;
}


/* Modal */
.modal-content {
  width: 40rem;
  background-color: #4B0082;
  color: white;
}

.img-modal {
  width: 100%;
  height: 15rem;
  border-radius: 7px;
  
}

@keyframes line-animation {
  50% {
    margin-top: 32rem;
  }
}

@keyframes line2-animation {
  50% {
    margin-top: 54rem;
  }
}

/* Scrollbar  */

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #232323; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #780dc4 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4B0082; 
}

.back-to-top {
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

